In [ ]:
 Inputs: 
    Name, Generation, Type
Outputs:
    Name, Generation, Type, Strength, Region, abilities
Algorith: 
    Import pandas
    Get data
    Input Name, Generation, Type
    Sort the database
    Filter out data using the input of the user
    Print out the pokemons attributes

In [2]:
import pandas as pd

In [18]:
mydata = pd.read_csv('pokemon.csv')
mydata.sample(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
397,"['Intimidate', 'Reckless']",0.5,1.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,...,50.0,398,50,60,100,normal,flying,24.9,4,0
163,"['Insomnia', 'Keen Eye', 'Tinted Lens']",0.5,1.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,...,50.0,164,86,96,70,normal,flying,40.8,2,0
108,['Levitate'],0.5,1.0,1.0,1.0,0.5,0.5,1.0,1.0,1.0,...,50.0,109,60,45,35,poison,NaN,1.0,1,0

In [35]:
pokedex_number = pd.Series(mydata['pokedex_number'])
names = pd.Series(mydata['name'])
generation = pd.Series(mydata['generation'])
types = pd.Series(mydata['type1'])
classfication = pd.Series(mydata['classfication'])
abilities = pd.Series(mydata['abilities'])
hp = pd.Series(mydata['hp'])
speed = pd.Series(mydata['speed'])
attack= pd.Series(mydata['attack'])
defense = pd.Series(mydata['defense'])
series_dict = { 'Pokedex Number' : pokedex_number, 'Name':  names, 'Generation': generation, 'Types' : types, 'Classfication' : classfication, 'Abilities' : abilities, 'Hp' : hp, 'Speed' : speed, 'sp_Attack' : attack, 'sp_Defense' : defense }
pokemons = pd.DataFrame( series_dict )
pokemons.sample(3)

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Hp,Speed,sp_Attack,sp_Defense
486,487,Giratina,4,ghost,Renegade Pokémon,"['Pressure', 'Telepathy', 'Levitate']",150,90,120,100
109,110,Weezing,1,poison,Poison Gas Pokémon,['Levitate'],65,60,90,120
21,22,Fearow,1,normal,Beak Pokémon,"['Keen Eye', 'Sniper']",65,100,90,65

In [28]:
pokemons.head(3)

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Hp,Speed,sp_Attack,sp_Defense
0,1,Bulbasaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",45,45,49,49
1,2,Ivysaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",60,60,62,63
2,3,Venusaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",80,80,100,123

In [34]:
pokemons[pokemons['Types'] == 'grass' ].head(5)

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Hp,Speed,sp_Attack,sp_Defense
0,1,Bulbasaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",45,45,49,49
1,2,Ivysaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",60,60,62,63
2,3,Venusaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",80,80,100,123
42,43,Oddish,1,grass,Weed Pokémon,"['Chlorophyll', 'Run Away']",45,30,50,55
43,44,Gloom,1,grass,Weed Pokémon,"['Chlorophyll', 'Stench']",60,40,65,70

In [44]:
pokemons[pokemons['Types'] == 'fire' ].tail(2)

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Hp,Speed,sp_Attack,sp_Defense
740,741,Oricorio,7,fire,Dancing Pokémon,['Dancer'],75,93,70,70
775,776,Turtonator,7,fire,Blast Turtle Pokémon,['Shell Armor'],60,36,78,135

In [53]:
pokemons[pokemons['Generation'] == 3 ].tail(2)

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Hp,Speed,sp_Attack,sp_Defense
384,385,Jirachi,3,steel,Wish Pokémon,['Serene Grace'],100,100,100,100
385,386,Deoxys,3,psychic,DNA Pokémon,['Pressure'],50,180,95,90

In [50]:
pokemons[(pokemons.Generation == 3) ]

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Hp,Speed,sp_Attack,sp_Defense
251,252,Treecko,3,grass,Wood Gecko Pokémon,"['Overgrow', 'Unburden']",40,70,45,35
252,253,Grovyle,3,grass,Wood Gecko Pokémon,"['Overgrow', 'Unburden']",50,95,65,45
253,254,Sceptile,3,grass,Forest Pokémon,"['Overgrow', 'Unburden']",70,145,110,75
254,255,Torchic,3,fire,Chick Pokémon,"['Blaze', 'Speed Boost']",45,45,60,40
255,256,Combusken,3,fire,Young Fowl Pokémon,"['Blaze', 'Speed Boost']",60,55,85,60
256,257,Blaziken,3,fire,Blaze Pokémon,"['Blaze', 'Speed Boost']",80,100,160,80
257,258,Mudkip,3,water,Mud Fish Pokémon,"['Torrent', 'Damp']",50,40,70,50
258,259,Marshtomp,3,water,Mud Fish Pokémon,"['Torrent', 'Damp']",70,50,85,70
259,260,Swampert,3,water,Mud Fish Pokémon,"['Torrent', 'Damp']",100,70,150,110
260,261,Poochyena,3,dark,Bite Pokémon,"['Run Away', 'Quick Feet', 'Rattled']",35,35,55,35
261,262,Mightyena,3,dark,Bite Pokémon,"['Intimidate', 'Quick Feet', 'Moxie']",70,70,90,70
262,263,Zigzagoon,3,normal,Tiny Racoon Pokémon,"['Pickup', 'Gluttony', 'Quick Feet']",38,60,30,41
263,264,Linoone,3,normal,Rush Pokémon,"['Pickup', 'Gluttony', 'Quick Feet']",78,100,70,61
264,265,Wurmple,3,bug,Worm Pokémon,"['Shield Dust', 'Run Away']",45,20,45,35
265,266,Silcoon,3,bug,Cocoon Pokémon,['Shed Skin'],50,15,35,55
266,267,Beautifly,3,bug,Butterfly Pokémon,"['Swarm', 'Rivalry']",60,65,70,50
267,268,Cascoon,3,bug,Cocoon Pokémon,['Shed Skin'],50,15,35,55
268,269,Dustox,3,bug,Poison Moth Pokémon,"['Shield Dust', 'Compoundeyes']",60,65,50,70
269,270,Lotad,3,water,Water Weed Pokémon,"['Swift Swim', 'Rain Dish', 'Own Tempo']",40,30,30,30
270,271,Lombre,3,water,Jolly Pokémon,"['Swift Swim', 'Rain Dish', 'Own Tempo']",60,50,50,50
271,272,Ludicolo,3,water,Carefree Pokémon,"['Swift Swim', 'Rain Dish', 'Own Tempo']",80,70,70,70
272,273,Seedot,3,grass,Acorn Pokémon,"['Chlorophyll', 'Early Bird', 'Pickpocket']",40,30,40,50
273,274,Nuzleaf,3,grass,Wily Pokémon,"['Chlorophyll', 'Early Bird', 'Pickpocket']",70,60,70,40
274,275,Shiftry,3,grass,Wickid Pokémon,"['Chlorophyll', 'Early Bird', 'Pickpocket']",90,80,100,60
275,276,Taillow,3,normal,TinySwallow Pokémon,"['Guts', 'Scrappy']",40,85,55,30
276,277,Swellow,3,normal,Swallow Pokémon,"['Guts', 'Scrappy']",60,125,85,60
277,278,Wingull,3,water,Seagull Pokémon,"['Keen Eye', 'Hydration', 'Rain Dish']",40,85,30,30
278,279,Pelipper,3,water,Water Bird Pokémon,"['Keen Eye', 'Drizzle', 'Rain Dish']",60,65,50,100
279,280,Ralts,3,psychic,Feeling Pokémon,"['Synchronize', 'Trace', 'Telepathy']",28,40,25,25
280,281,Kirlia,3,psychic,Emotion Pokémon,"['Synchronize', 'Trace', 'Telepathy']",38,50,35,35
...,...,...,...,...,...,...,...,...,...,...
356,357,Tropius,3,grass,Fruit Pokémon,"['Chlorophyll', 'Solar Power', 'Harvest']",99,51,68,83
357,358,Chimecho,3,psychic,Wind Chime Pokémon,['Levitate'],75,65,50,80
358,359,Absol,3,dark,Disaster Pokémon,"['Pressure', 'Super Luck', 'Justified']",65,115,150,60
359,360,Wynaut,3,psychic,Bright Pokémon,"['Shadow Tag', 'Telepathy']",95,23,23,48
360,361,Snorunt,3,ice,Snow Hat Pokémon,"['Inner Focus', 'Ice Body', 'Moody']",50,50,50,50
361,362,Glalie,3,ice,Face Pokémon,"['Inner Focus', 'Ice Body', 'Moody']",80,100,120,80
362,363,Spheal,3,ice,Clap Pokémon,"['Thick Fat', 'Ice Body', 'Oblivious']",70,25,40,50
363,364,Sealeo,3,ice,Ball Roll Pokémon,"['Thick Fat', 'Ice Body', 'Oblivious']",90,45,60,70
364,365,Walrein,3,ice,Ice Break Pokémon,"['Thick Fat', 'Ice Body', 'Oblivious']",110,65,80,90
365,366,Clamperl,3,water,Bivalve Pokémon,"['Shell Armor', 'Rattled']",35,32,64,85
366,367,Huntail,3,water,Deep Sea Pokémon,"['Swift Swim', 'Water Veil']",55,52,104,105
367,368,Gorebyss,3,water,South Sea Pokémon,"['Swift Swim', 'Hydration']",55,52,84,105
368,369,Relicanth,3,water,Longevity Pokémon,"['Swift Swim', 'Rock Head', 'Sturdy']",100,55,90,130
369,370,Luvdisc,3,water,Rendezvous Pokémon,"['Swift Swim', 'Hydration']",43,97,30,55
370,371,Bagon,3,dragon,Rock Head Pokémon,"['Rock Head', 'Sheer Force']",45,50,75,60
371,372,Shelgon,3,dragon,Endurance Pokémon,"['Rock Head', 'Overcoat']",65,50,95,100
372,373,Salamence,3,dragon,Dragon Pokémon,"['Intimidate', 'Moxie']",95,120,145,130
373,374,Beldum,3,steel,Iron Ball Pokémon,"['Clear Body', 'Light Metal']",40,30,55,80
374,375,Metang,3,steel,Iron Claw Pokémon,"['Clear Body', 'Light Metal']",60,50,75,100
375,376,Metagross,3,steel,Iron Leg Pokémon,"['Clear Body', 'Light Metal']",80,110,145,150
376,377,Regirock,3,rock,Rock Peak Pokémon,"['Clear Body', 'Sturdy']",80,50,100,200
377,378,Regice,3,ice,Iceberg Pokémon,"['Clear Body', 'Ice Body']",80,50,50,100
378,379,Registeel,3,steel,Iron Pokémon,"['Clear Body', 'Light Metal']",80,50,75,150
379,380,Latias,3,dragon,Eon Pokémon,['Levitate'],80,110,100,120
380,381,Latios,3,dragon,Eon Pokémon,['Levitate'],80,110,130,100
381,382,Kyogre,3,water,Sea Basin Pokémon,['Drizzle'],100,90,150,90
382,383,Groudon,3,ground,Continent Pokémon,['Drought'],100,90,180,160
383,384,Rayquaza,3,dragon,Sky High Pokémon,['Air Lock'],105,115,180,100
384,385,Jirachi,3,steel,Wish Pokémon,['Serene Grace'],100,100,100,100
385,386,Deoxys,3,psychic,DNA Pokémon,['Pressure'],50,180,95,90

In [52]:
pokemons[(pokemons.Generation == 3) & (pokemons.Types == 'water')]

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Hp,Speed,sp_Attack,sp_Defense
257,258,Mudkip,3,water,Mud Fish Pokémon,"['Torrent', 'Damp']",50,40,70,50
258,259,Marshtomp,3,water,Mud Fish Pokémon,"['Torrent', 'Damp']",70,50,85,70
259,260,Swampert,3,water,Mud Fish Pokémon,"['Torrent', 'Damp']",100,70,150,110
269,270,Lotad,3,water,Water Weed Pokémon,"['Swift Swim', 'Rain Dish', 'Own Tempo']",40,30,30,30
270,271,Lombre,3,water,Jolly Pokémon,"['Swift Swim', 'Rain Dish', 'Own Tempo']",60,50,50,50
271,272,Ludicolo,3,water,Carefree Pokémon,"['Swift Swim', 'Rain Dish', 'Own Tempo']",80,70,70,70
277,278,Wingull,3,water,Seagull Pokémon,"['Keen Eye', 'Hydration', 'Rain Dish']",40,85,30,30
278,279,Pelipper,3,water,Water Bird Pokémon,"['Keen Eye', 'Drizzle', 'Rain Dish']",60,65,50,100
317,318,Carvanha,3,water,Savage Pokémon,"['Rough Skin', 'Speed Boost']",45,65,90,20
318,319,Sharpedo,3,water,Brutal Pokémon,"['Rough Skin', 'Speed Boost']",70,105,140,70
319,320,Wailmer,3,water,Ball Whale Pokémon,"['Water Veil', 'Oblivious', 'Pressure']",130,60,70,35
320,321,Wailord,3,water,Float Whale Pokémon,"['Water Veil', 'Oblivious', 'Pressure']",170,60,90,45
338,339,Barboach,3,water,Whiskers Pokémon,"['Oblivious', 'Anticipation', 'Hydration']",50,60,48,43
339,340,Whiscash,3,water,Whiskers Pokémon,"['Oblivious', 'Anticipation', 'Hydration']",110,60,78,73
340,341,Corphish,3,water,Ruffian Pokémon,"['Hyper Cutter', 'Shell Armor', 'Adaptability']",43,35,80,65
341,342,Crawdaunt,3,water,Rogue Pokémon,"['Hyper Cutter', 'Shell Armor', 'Adaptability']",63,55,120,85
348,349,Feebas,3,water,Fish Pokémon,"['Swift Swim', 'Oblivious', 'Adaptability']",20,80,15,20
349,350,Milotic,3,water,Tender Pokémon,"['Marvel Scale', 'Competitive', 'Cute Charm']",95,81,60,79
365,366,Clamperl,3,water,Bivalve Pokémon,"['Shell Armor', 'Rattled']",35,32,64,85
366,367,Huntail,3,water,Deep Sea Pokémon,"['Swift Swim', 'Water Veil']",55,52,104,105
367,368,Gorebyss,3,water,South Sea Pokémon,"['Swift Swim', 'Hydration']",55,52,84,105
368,369,Relicanth,3,water,Longevity Pokémon,"['Swift Swim', 'Rock Head', 'Sturdy']",100,55,90,130
369,370,Luvdisc,3,water,Rendezvous Pokémon,"['Swift Swim', 'Hydration']",43,97,30,55
381,382,Kyogre,3,water,Sea Basin Pokémon,['Drizzle'],100,90,150,90

In [55]:
pokemons[pokemons['Name'] == 'Weedle']

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Hp,Speed,sp_Attack,sp_Defense
12,13,Weedle,1,bug,Hairy Pokémon,"['Shield Dust', 'Run Away']",40,50,35,30

In [25]:
name = pokemons['']
generation = '1'
types = 'Fire'

pok = input("Enter the pokemon's name or none: ")
if pok in pokemons: 
    print(pok) 
elif pok == generation: 
    print(pok)
elif pok == types: 
    print(pok)
else:
    print("Not able to determone the pokemon")

Enter the pokemon's name or none: 18
Not able to determone the pokemon

In [18]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
help(str.translate)

Help on method_descriptor:

translate(...)
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.