In [ ]:
 Inputs: 
    Name, Generation, Type
Outputs:
    Name, Generation, Type, Strength, Region, abilities
Algorith: 
    Import pandas
    Get data
    Input Name, Generation, Type
    Sort the database
    Filter out data using the input of the user
    Print out the pokemons attributes

In [1]:
import pandas as pd

In [8]:
mydata = pd.read_csv('pokemon.csv')
mydata.head(13)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.50,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.50,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.50,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.00,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.00,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
5,"['Blaze', 'Solar Power']",0.25,1.0,1.0,2.0,0.5,0.50,0.5,1.0,1.0,...,88.1,6,159,115,100,fire,flying,90.5,1,0
6,"['Torrent', 'Rain Dish']",1.00,1.0,1.0,2.0,1.0,1.00,0.5,1.0,1.0,...,88.1,7,50,64,43,water,NaN,9.0,1,0
7,"['Torrent', 'Rain Dish']",1.00,1.0,1.0,2.0,1.0,1.00,0.5,1.0,1.0,...,88.1,8,65,80,58,water,NaN,22.5,1,0
8,"['Torrent', 'Rain Dish']",1.00,1.0,1.0,2.0,1.0,1.00,0.5,1.0,1.0,...,88.1,9,135,115,78,water,NaN,85.5,1,0
9,"['Shield Dust', 'Run Away']",1.00,1.0,1.0,1.0,1.0,0.50,2.0,2.0,1.0,...,50.0,10,20,20,45,bug,NaN,2.9,1,0
10,['Shed Skin'],1.00,1.0,1.0,1.0,1.0,0.50,2.0,2.0,1.0,...,50.0,11,25,25,30,bug,NaN,9.9,1,0
11,"['Compoundeyes', 'Tinted Lens']",0.50,1.0,1.0,2.0,1.0,0.25,2.0,2.0,1.0,...,50.0,12,90,80,70,bug,flying,32.0,1,0
12,"['Shield Dust', 'Run Away']",0.50,1.0,1.0,1.0,0.5,0.25,2.0,2.0,1.0,...,50.0,13,20,20,50,bug,poison,3.2,1,0

In [3]:
pokedex_number = pd.Series(mydata['pokedex_number'])
names = pd.Series(mydata['name'])
generation = pd.Series(mydata['generation'])
types = pd.Series(mydata['type1'])
classfication = pd.Series(mydata['classfication'])
abilities = pd.Series(mydata['abilities'])
height = pd.Series(mydata['height_m'])
weight = pd.Series(mydata['weight_kg'])
hp = pd.Series(mydata['hp'])
speed = pd.Series(mydata['speed'])
attack= pd.Series(mydata['attack'])
defense = pd.Series(mydata['defense'])
series_dict = { 'Pokedex Number' : pokedex_number, 'Name':  names, 'Generation': generation, 'Types' : types, 'Classfication' : classfication, 'Abilities' : abilities, 'Height_m' : height, 'Weight_kg' : weight, 'Hp' : hp, 'Speed' : speed, 'sp_Attack' : attack, 'sp_Defense' : defense }
pokemons = pd.DataFrame( series_dict )
pokemons.sample(3)

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
331,332,Cacturne,3,grass,Scarecrow Pokémon,"['Sand Veil', 'Water Absorb']",1.3,77.4,70,55,115,60
777,778,Mimikyu,7,ghost,Disguise Pokémon,['Disguise'],0.2,0.7,55,96,90,80
494,495,Snivy,5,grass,Grass Snake Pokémon,"['Overgrow', 'Contrary']",0.6,8.1,45,63,45,55

In [35]:
pokemons.head(2)

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
0,1,Bulbasaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",0.7,6.9,45,45,49,49
1,2,Ivysaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",1.0,13.0,60,60,62,63

In [36]:
pokemons[pokemons['Types'] == 'grass' ].head(2)

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
0,1,Bulbasaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",0.7,6.9,45,45,49,49
1,2,Ivysaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",1.0,13.0,60,60,62,63

In [37]:
pokemons[pokemons['Types'] == 'fire' ].tail(2)

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
740,741,Oricorio,7,fire,Dancing Pokémon,['Dancer'],0.6,3.4,75,93,70,70
775,776,Turtonator,7,fire,Blast Turtle Pokémon,['Shell Armor'],2.0,212.0,60,36,78,135

In [38]:
pokemons[pokemons['Generation'] == 3 ].tail(2)

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
384,385,Jirachi,3,steel,Wish Pokémon,['Serene Grace'],0.3,1.1,100,100,100,100
385,386,Deoxys,3,psychic,DNA Pokémon,['Pressure'],1.7,60.8,50,180,95,90

In [11]:
pokemons[(pokemons.Generation == 2) ]

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
151,152,Chikorita,2,grass,Leaf Pokémon,"['Overgrow', 'Leaf Guard']",0.9,6.4,45,45,49,65
152,153,Bayleef,2,grass,Leaf Pokémon,"['Overgrow', 'Leaf Guard']",1.2,15.8,60,60,62,80
153,154,Meganium,2,grass,Herb Pokémon,"['Overgrow', 'Leaf Guard']",1.8,100.5,80,80,82,100
154,155,Cyndaquil,2,fire,Fire Mouse Pokémon,"['Blaze', 'Flash Fire']",0.5,7.9,39,65,52,43
155,156,Quilava,2,fire,Volcano Pokémon,"['Blaze', 'Flash Fire']",0.9,19.0,58,80,64,58
156,157,Typhlosion,2,fire,Volcano Pokémon,"['Blaze', 'Flash Fire']",1.7,79.5,78,100,84,78
157,158,Totodile,2,water,Big Jaw Pokémon,"['Torrent', 'Sheer Force']",0.6,9.5,50,43,65,64
158,159,Croconaw,2,water,Big Jaw Pokémon,"['Torrent', 'Sheer Force']",1.1,25.0,65,58,80,80
159,160,Feraligatr,2,water,Big Jaw Pokémon,"['Torrent', 'Sheer Force']",2.3,88.8,85,78,105,100
160,161,Sentret,2,normal,Scout Pokémon,"['Run Away', 'Keen Eye', 'Frisk']",0.8,6.0,35,20,46,34
161,162,Furret,2,normal,Long Body Pokémon,"['Run Away', 'Keen Eye', 'Frisk']",1.8,32.5,85,90,76,64
162,163,Hoothoot,2,normal,Owl Pokémon,"['Insomnia', 'Keen Eye', 'Tinted Lens']",0.7,21.2,60,50,30,30
163,164,Noctowl,2,normal,Owl Pokémon,"['Insomnia', 'Keen Eye', 'Tinted Lens']",1.6,40.8,100,70,50,50
164,165,Ledyba,2,bug,Five Star Pokémon,"['Swarm', 'Early Bird', 'Rattled']",1.0,10.8,40,55,20,30
165,166,Ledian,2,bug,Five Star Pokémon,"['Swarm', 'Early Bird', 'Iron Fist']",1.4,35.6,55,85,35,50
166,167,Spinarak,2,bug,String Spit Pokémon,"['Swarm', 'Insomnia', 'Sniper']",0.5,8.5,40,30,60,40
167,168,Ariados,2,bug,Long Leg Pokémon,"['Swarm', 'Insomnia', 'Sniper']",1.1,33.5,70,40,90,70
168,169,Crobat,2,poison,Bat Pokémon,"['Inner Focus', 'Infiltrator']",1.8,75.0,85,130,90,80
169,170,Chinchou,2,water,Angler Pokémon,"['Volt Absorb', 'Illuminate', 'Water Absorb']",0.5,12.0,75,67,38,38
170,171,Lanturn,2,water,Light Pokémon,"['Volt Absorb', 'Illuminate', 'Water Absorb']",1.2,22.5,125,67,58,58
171,172,Pichu,2,electric,Tiny Mouse Pokémon,"['Static', 'Lightningrod']",0.3,2.0,20,60,40,15
172,173,Cleffa,2,fairy,Star Shape Pokémon,"['Cute Charm', 'Magic Guard', 'Friend Guard']",0.3,3.0,50,15,25,28
173,174,Igglybuff,2,normal,Balloon Pokémon,"['Cute Charm', 'Competitive', 'Friend Guard']",0.3,1.0,90,15,30,15
174,175,Togepi,2,fairy,Spike Ball Pokémon,"['Hustle', 'Serene Grace', 'Super Luck']",0.3,1.5,35,20,20,65
175,176,Togetic,2,fairy,Happiness Pokémon,"['Hustle', 'Serene Grace', 'Super Luck']",0.6,3.2,55,40,40,85
176,177,Natu,2,psychic,Little Bird Pokémon,"['Synchronize', 'Early Bird', 'Magic Bounce']",0.2,2.0,40,70,50,45
177,178,Xatu,2,psychic,Mystic Pokémon,"['Synchronize', 'Early Bird', 'Magic Bounce']",1.5,15.0,65,95,75,70
178,179,Mareep,2,electric,Wool Pokémon,"['Static', 'Plus']",0.6,7.8,55,35,40,40
179,180,Flaaffy,2,electric,Wool Pokémon,"['Static', 'Plus']",0.8,13.3,70,45,55,55
180,181,Ampharos,2,electric,Light Pokémon,"['Static', 'Plus']",1.4,61.5,90,45,95,105
...,...,...,...,...,...,...,...,...,...,...,...,...
221,222,Corsola,2,water,Coral Pokémon,"['Hustle', 'Natural Cure', 'Regenerator']",0.6,5.0,65,35,55,95
222,223,Remoraid,2,water,Jet Pokémon,"['Hustle', 'Sniper', 'Moody']",0.6,12.0,35,65,65,35
223,224,Octillery,2,water,Jet Pokémon,"['Suction Cups', 'Sniper', 'Moody']",0.9,28.5,75,45,105,75
224,225,Delibird,2,ice,Delivery Pokémon,"['Vital Spirit', 'Hustle', 'Insomnia']",0.9,16.0,45,75,55,45
225,226,Mantine,2,water,Kite Pokémon,"['Swift Swim', 'Water Absorb', 'Water Veil']",2.1,220.0,85,70,40,70
226,227,Skarmory,2,steel,Armor Bird Pokémon,"['Keen Eye', 'Sturdy', 'Weak Armor']",1.7,50.5,65,70,80,140
227,228,Houndour,2,dark,Dark Pokémon,"['Early Bird', 'Flash Fire', 'Unnerve']",0.6,10.8,45,65,60,30
228,229,Houndoom,2,dark,Dark Pokémon,"['Early Bird', 'Flash Fire', 'Unnerve']",1.4,35.0,75,115,90,90
229,230,Kingdra,2,water,Dragon Pokémon,"['Swift Swim', 'Sniper', 'Damp']",1.8,152.0,75,85,95,95
230,231,Phanpy,2,ground,Long Nose Pokémon,"['Pickup', 'Sand Veil']",0.5,33.5,90,40,60,60
231,232,Donphan,2,ground,Armor Pokémon,"['Sturdy', 'Sand Veil']",1.1,120.0,90,50,120,120
232,233,Porygon2,2,normal,Virtual Pokémon,"['Trace', 'Download', 'Analytic']",0.6,32.5,85,60,80,90
233,234,Stantler,2,normal,Big Horn Pokémon,"['Intimidate', 'Frisk', 'Sap Sipper']",1.4,71.2,73,85,95,62
234,235,Smeargle,2,normal,Painter Pokémon,"['Own Tempo', 'Technician', 'Moody']",1.2,58.0,55,75,20,35
235,236,Tyrogue,2,fighting,Scuffle Pokémon,"['Guts', 'Steadfast', 'Vital Spirit']",0.7,21.0,35,35,35,35
236,237,Hitmontop,2,fighting,Handstand Pokémon,"['Intimidate', 'Technician', 'Steadfast']",1.4,48.0,50,70,95,95
237,238,Smoochum,2,ice,Kiss Pokémon,"['Oblivious', 'Forewarn', 'Hydration']",0.4,6.0,45,65,30,15
238,239,Elekid,2,electric,Electric Pokémon,"['Static', 'Vital Spirit']",0.6,23.5,45,95,63,37
239,240,Magby,2,fire,Live Coal Pokémon,"['Flame Body', 'Vital Spirit']",0.7,21.4,45,83,75,37
240,241,Miltank,2,normal,Milk Cow Pokémon,"['Thick Fat', 'Scrappy', 'Sap Sipper']",1.2,75.5,95,100,80,105
241,242,Blissey,2,normal,Happiness Pokémon,"['Natural Cure', 'Serene Grace', 'Healer']",1.5,46.8,255,55,10,10
242,243,Raikou,2,electric,Thunder Pokémon,"['Pressure', 'Inner Focus']",1.9,178.0,90,115,85,75
243,244,Entei,2,fire,Volcano Pokémon,"['Pressure', 'Inner Focus']",2.1,198.0,115,100,115,85
244,245,Suicune,2,water,Aurora Pokémon,"['Pressure', 'Inner Focus']",2.0,187.0,100,85,75,115
245,246,Larvitar,2,rock,Rock Skin Pokémon,"['Guts', 'Sand Veil']",0.6,72.0,50,41,64,50
246,247,Pupitar,2,rock,Hard Shell Pokémon,['Shed Skin'],1.2,152.0,70,51,84,70
247,248,Tyranitar,2,rock,Armor Pokémon,"['Sand Stream', 'Unnerve']",2.0,202.0,100,71,164,150
248,249,Lugia,2,psychic,Diving Pokémon,"['Pressure', 'Multiscale']",5.2,216.0,106,110,90,130
249,250,Ho-Oh,2,fire,Rainbow Pokémon,"['Pressure', 'Regenerator']",3.8,199.0,106,90,130,90
250,251,Celebi,2,psychic,Time Travel Pokémon,['Natural Cure'],0.6,5.0,100,100,100,100

In [40]:
pokemons[(pokemons.Generation == 3) & (pokemons.Types == 'water')]

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
257,258,Mudkip,3,water,Mud Fish Pokémon,"['Torrent', 'Damp']",0.4,7.6,50,40,70,50
258,259,Marshtomp,3,water,Mud Fish Pokémon,"['Torrent', 'Damp']",0.7,28.0,70,50,85,70
259,260,Swampert,3,water,Mud Fish Pokémon,"['Torrent', 'Damp']",1.5,81.9,100,70,150,110
269,270,Lotad,3,water,Water Weed Pokémon,"['Swift Swim', 'Rain Dish', 'Own Tempo']",0.5,2.6,40,30,30,30
270,271,Lombre,3,water,Jolly Pokémon,"['Swift Swim', 'Rain Dish', 'Own Tempo']",1.2,32.5,60,50,50,50
271,272,Ludicolo,3,water,Carefree Pokémon,"['Swift Swim', 'Rain Dish', 'Own Tempo']",1.5,55.0,80,70,70,70
277,278,Wingull,3,water,Seagull Pokémon,"['Keen Eye', 'Hydration', 'Rain Dish']",0.6,9.5,40,85,30,30
278,279,Pelipper,3,water,Water Bird Pokémon,"['Keen Eye', 'Drizzle', 'Rain Dish']",1.2,28.0,60,65,50,100
317,318,Carvanha,3,water,Savage Pokémon,"['Rough Skin', 'Speed Boost']",0.8,20.8,45,65,90,20
318,319,Sharpedo,3,water,Brutal Pokémon,"['Rough Skin', 'Speed Boost']",1.8,88.8,70,105,140,70
319,320,Wailmer,3,water,Ball Whale Pokémon,"['Water Veil', 'Oblivious', 'Pressure']",2.0,130.0,130,60,70,35
320,321,Wailord,3,water,Float Whale Pokémon,"['Water Veil', 'Oblivious', 'Pressure']",14.5,398.0,170,60,90,45
338,339,Barboach,3,water,Whiskers Pokémon,"['Oblivious', 'Anticipation', 'Hydration']",0.4,1.9,50,60,48,43
339,340,Whiscash,3,water,Whiskers Pokémon,"['Oblivious', 'Anticipation', 'Hydration']",0.9,23.6,110,60,78,73
340,341,Corphish,3,water,Ruffian Pokémon,"['Hyper Cutter', 'Shell Armor', 'Adaptability']",0.6,11.5,43,35,80,65
341,342,Crawdaunt,3,water,Rogue Pokémon,"['Hyper Cutter', 'Shell Armor', 'Adaptability']",1.1,32.8,63,55,120,85
348,349,Feebas,3,water,Fish Pokémon,"['Swift Swim', 'Oblivious', 'Adaptability']",0.6,7.4,20,80,15,20
349,350,Milotic,3,water,Tender Pokémon,"['Marvel Scale', 'Competitive', 'Cute Charm']",6.2,162.0,95,81,60,79
365,366,Clamperl,3,water,Bivalve Pokémon,"['Shell Armor', 'Rattled']",0.4,52.5,35,32,64,85
366,367,Huntail,3,water,Deep Sea Pokémon,"['Swift Swim', 'Water Veil']",1.7,27.0,55,52,104,105
367,368,Gorebyss,3,water,South Sea Pokémon,"['Swift Swim', 'Hydration']",1.8,22.6,55,52,84,105
368,369,Relicanth,3,water,Longevity Pokémon,"['Swift Swim', 'Rock Head', 'Sturdy']",1.0,23.4,100,55,90,130
369,370,Luvdisc,3,water,Rendezvous Pokémon,"['Swift Swim', 'Hydration']",0.6,8.7,43,97,30,55
381,382,Kyogre,3,water,Sea Basin Pokémon,['Drizzle'],4.5,352.0,100,90,150,90

In [9]:
pokemons[pokemons['Name'] == 'Butterfree']

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
11,12,Butterfree,1,bug,Butterfly Pokémon,"['Compoundeyes', 'Tinted Lens']",1.1,32.0,60,70,45,50

In [42]:
po = float(input('Enter Generation: '))
p = input('Enter Type: ').lower()
pokemons[(pokemons.Generation == po) & (pokemons.Types == p)]

Enter Generation: 1
Enter Type: fire

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
3,4,Charmander,1,fire,Lizard Pokémon,"['Blaze', 'Solar Power']",0.6,8.5,39,65,52,43
4,5,Charmeleon,1,fire,Flame Pokémon,"['Blaze', 'Solar Power']",1.1,19.0,58,80,64,58
5,6,Charizard,1,fire,Flame Pokémon,"['Blaze', 'Solar Power']",1.7,90.5,78,100,104,78
36,37,Vulpix,1,fire,Fox Pokémon,"['Flash Fire', 'Drought', 'Snow Cloak', 'Snow ...",NaN,NaN,38,65,41,40
37,38,Ninetales,1,fire,Fox Pokémon,"['Flash Fire', 'Drought', 'Snow Cloak', 'Snow ...",NaN,NaN,73,109,67,75
57,58,Growlithe,1,fire,Puppy Pokémon,"['Intimidate', 'Flash Fire', 'Justified']",0.7,19.0,55,60,70,45
58,59,Arcanine,1,fire,Legendary Pokémon,"['Intimidate', 'Flash Fire', 'Justified']",1.9,155.0,90,95,110,80
76,77,Ponyta,1,fire,Fire Horse Pokémon,"['Run Away', 'Flash Fire', 'Flame Body']",1.0,30.0,50,90,85,55
77,78,Rapidash,1,fire,Fire Horse Pokémon,"['Run Away', 'Flash Fire', 'Flame Body']",1.7,95.0,65,105,100,70
125,126,Magmar,1,fire,Spitfire Pokémon,"['Flame Body', 'Vital Spirit']",1.3,44.5,65,93,95,57
135,136,Flareon,1,fire,Flame Pokémon,"['Flash Fire', 'Guts']",0.9,25.0,65,65,130,60
145,146,Moltres,1,fire,Flame Pokémon,"['Pressure', 'Flame Body']",2.0,60.0,90,90,100,90

In [7]:
pok = input("Enter the pokemon's name: ").title()
po = float(input('Enter Generation: '))
p = input('Enter Type: ').lower()

pokemons[(pokemons.Name == pok) & (pokemons.Generation == po) & (pokemons.Types == p)]

Enter the pokemon's name: charmander
Enter Generation: 1
Enter Type: fire

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
3,4,Charmander,1,fire,Lizard Pokémon,"['Blaze', 'Solar Power']",0.6,8.5,39,65,52,43

In [6]:
st = input('Please enter how you want to find your Pokemon (Name, Generation, Type): ').title()

if st == 'Name':
    nam = input("Enter the Pokemon's name : ").title()
    display(pokemons[pokemons['Name'] == nam])
elif st == 'Generation':
    gen = float(input('Enter Generation: '))
    print('Here is all the Pokemon is this Generation')
    display(pokemons[pokemons['Generation'] == gen])
elif st == 'Type':
    typ = input('Enter Type: ').lower()
    display(pokemons[pokemons['Types'] == typ])
else:
    print("Pokemon Can't Determine.")

Please enter how you want to find your Pokemon (Name, Generation, Type): generation
Enter Generation: 1
Here is all the Pokemon is this Generation

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
0,1,Bulbasaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",0.7,6.9,45,45,49,49
1,2,Ivysaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",1.0,13.0,60,60,62,63
2,3,Venusaur,1,grass,Seed Pokémon,"['Overgrow', 'Chlorophyll']",2.0,100.0,80,80,100,123
3,4,Charmander,1,fire,Lizard Pokémon,"['Blaze', 'Solar Power']",0.6,8.5,39,65,52,43
4,5,Charmeleon,1,fire,Flame Pokémon,"['Blaze', 'Solar Power']",1.1,19.0,58,80,64,58
5,6,Charizard,1,fire,Flame Pokémon,"['Blaze', 'Solar Power']",1.7,90.5,78,100,104,78
6,7,Squirtle,1,water,Tiny Turtle Pokémon,"['Torrent', 'Rain Dish']",0.5,9.0,44,43,48,65
7,8,Wartortle,1,water,Turtle Pokémon,"['Torrent', 'Rain Dish']",1.0,22.5,59,58,63,80
8,9,Blastoise,1,water,Shellfish Pokémon,"['Torrent', 'Rain Dish']",1.6,85.5,79,78,103,120
9,10,Caterpie,1,bug,Worm Pokémon,"['Shield Dust', 'Run Away']",0.3,2.9,45,45,30,35
10,11,Metapod,1,bug,Cocoon Pokémon,['Shed Skin'],0.7,9.9,50,30,20,55
11,12,Butterfree,1,bug,Butterfly Pokémon,"['Compoundeyes', 'Tinted Lens']",1.1,32.0,60,70,45,50
12,13,Weedle,1,bug,Hairy Pokémon,"['Shield Dust', 'Run Away']",0.3,3.2,40,50,35,30
13,14,Kakuna,1,bug,Cocoon Pokémon,['Shed Skin'],0.6,10.0,45,35,25,50
14,15,Beedrill,1,bug,Poison Bee Pokémon,"['Swarm', 'Sniper']",1.0,29.5,65,145,150,40
15,16,Pidgey,1,normal,Tiny Bird Pokémon,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.3,1.8,40,56,45,40
16,17,Pidgeotto,1,normal,Bird Pokémon,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",1.1,30.0,63,71,60,55
17,18,Pidgeot,1,normal,Bird Pokémon,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",1.5,39.5,83,121,80,80
18,19,Rattata,1,normal,Mouse Pokémon,"['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...",NaN,NaN,30,72,56,35
19,20,Raticate,1,normal,Mouse Pokémon,"['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...",NaN,NaN,75,77,71,70
20,21,Spearow,1,normal,Tiny Bird Pokémon,"['Keen Eye', 'Sniper']",0.3,2.0,40,70,60,30
21,22,Fearow,1,normal,Beak Pokémon,"['Keen Eye', 'Sniper']",1.2,38.0,65,100,90,65
22,23,Ekans,1,poison,Snake Pokémon,"['Intimidate', 'Shed Skin', 'Unnerve']",2.0,6.9,35,55,60,44
23,24,Arbok,1,poison,Cobra Pokémon,"['Intimidate', 'Shed Skin', 'Unnerve']",3.5,65.0,60,80,95,69
24,25,Pikachu,1,electric,Mouse Pokémon,"['Static', 'Lightningrod']",0.4,6.0,35,90,55,40
25,26,Raichu,1,electric,Mouse Pokémon,"['Static', 'Lightningrod', 'Surge Surfer']",NaN,NaN,60,110,85,50
26,27,Sandshrew,1,ground,Mouse Pokémon,"['Sand Veil', 'Sand Rush', 'Snow Cloak', 'Slus...",NaN,NaN,50,40,75,90
27,28,Sandslash,1,ground,Mouse Pokémon,"['Sand Veil', 'Sand Rush', 'Snow Cloak', 'Slus...",NaN,NaN,75,65,100,120
28,29,Nidoran♀,1,poison,Poison Pin Pokémon,"['Poison Point', 'Rivalry', 'Hustle']",0.4,7.0,55,41,47,52
29,30,Nidorina,1,poison,Poison Pin Pokémon,"['Poison Point', 'Rivalry', 'Hustle']",0.8,20.0,70,56,62,67
...,...,...,...,...,...,...,...,...,...,...,...,...
121,122,Mr. Mime,1,psychic,Barrier Pokémon,"['Soundproof', 'Filter', 'Technician']",1.3,54.5,40,90,45,65
122,123,Scyther,1,bug,Mantis Pokémon,"['Swarm', 'Technician', 'Steadfast']",1.5,56.0,70,105,110,80
123,124,Jynx,1,ice,Humanshape Pokémon,"['Oblivious', 'Forewarn', 'Dry Skin']",1.4,40.6,65,95,50,35
124,125,Electabuzz,1,electric,Electric Pokémon,"['Static', 'Vital Spirit']",1.1,30.0,65,105,83,57
125,126,Magmar,1,fire,Spitfire Pokémon,"['Flame Body', 'Vital Spirit']",1.3,44.5,65,93,95,57
126,127,Pinsir,1,bug,Stagbeetle Pokémon,"['Hyper Cutter', 'Mold Breaker', 'Moxie']",1.5,55.0,65,105,155,120
127,128,Tauros,1,normal,Wild Bull Pokémon,"['Intimidate', 'Anger Point', 'Sheer Force']",1.4,88.4,75,110,100,95
128,129,Magikarp,1,water,Fish Pokémon,"['Swift Swim', 'Rattled']",0.9,10.0,20,80,10,55
129,130,Gyarados,1,water,Atrocious Pokémon,"['Intimidate', 'Moxie']",6.5,235.0,95,81,155,109
130,131,Lapras,1,water,Transport Pokémon,"['Water Absorb', 'Shell Armor', 'Hydration']",2.5,220.0,130,60,85,80
131,132,Ditto,1,normal,Transform Pokémon,"['Limber', 'Imposter']",0.3,4.0,48,48,48,48
132,133,Eevee,1,normal,Evolution Pokémon,"['Run Away', 'Adaptability', 'Anticipation']",0.3,6.5,55,55,55,50
133,134,Vaporeon,1,water,Bubble Jet Pokémon,"['Water Absorb', 'Hydration']",1.0,29.0,130,65,65,60
134,135,Jolteon,1,electric,Lightning Pokémon,"['Volt Absorb', 'Quick Feet']",0.8,24.5,65,130,65,60
135,136,Flareon,1,fire,Flame Pokémon,"['Flash Fire', 'Guts']",0.9,25.0,65,65,130,60
136,137,Porygon,1,normal,Virtual Pokémon,"['Trace', 'Download', 'Analytic']",0.8,36.5,65,40,60,70
137,138,Omanyte,1,rock,Spiral Pokémon,"['Swift Swim', 'Shell Armor', 'Weak Armor']",0.4,7.5,35,35,40,100
138,139,Omastar,1,rock,Spiral Pokémon,"['Swift Swim', 'Shell Armor', 'Weak Armor']",1.0,35.0,70,55,60,125
139,140,Kabuto,1,rock,Shellfish Pokémon,"['Swift Swim', 'Battle Armor', 'Weak Armor']",0.5,11.5,30,55,80,90
140,141,Kabutops,1,rock,Shellfish Pokémon,"['Swift Swim', 'Battle Armor', 'Weak Armor']",1.3,40.5,60,80,115,105
141,142,Aerodactyl,1,rock,Fossil Pokémon,"['Rock Head', 'Pressure', 'Unnerve']",1.8,59.0,80,150,135,85
142,143,Snorlax,1,normal,Sleeping Pokémon,"['Immunity', 'Thick Fat', 'Gluttony']",2.1,460.0,160,30,110,65
143,144,Articuno,1,ice,Freeze Pokémon,"['Pressure', 'Snow Cloak']",1.7,55.4,90,85,85,100
144,145,Zapdos,1,electric,Electric Pokémon,"['Pressure', 'Static']",1.6,52.6,90,100,90,85
145,146,Moltres,1,fire,Flame Pokémon,"['Pressure', 'Flame Body']",2.0,60.0,90,90,100,90
146,147,Dratini,1,dragon,Dragon Pokémon,"['Shed Skin', 'Marvel Scale']",1.8,3.3,41,50,64,45
147,148,Dragonair,1,dragon,Dragon Pokémon,"['Shed Skin', 'Marvel Scale']",4.0,16.5,61,70,84,65
148,149,Dragonite,1,dragon,Dragon Pokémon,"['Inner Focus', 'Multiscale']",2.2,210.0,91,80,134,95
149,150,Mewtwo,1,psychic,Genetic Pokémon,"['Pressure', 'Unnerve']",2.0,122.0,106,140,150,70
150,151,Mew,1,psychic,New Species Pokémon,['Synchronize'],0.4,4.0,100,100,100,100

In [5]:
st = input('Please enter how you want to find your Pokemon (Name, Generation, Type): ').title()

#if st == 'Name':
    #nam = input("Enter the Pokemon's name : ").title()
    #display(intro[intro['Name'] == nam])
if st == 'Generation':
    gen = float(input('Enter Generation: '))
    print('Here is all the Pokemon is this Generation')
    display(intro[intro['Generation'] == gen])
elif st == 'Type':
    typ = input('Enter Type: ').lower()
    diaplay(intro[intro['Types'] == typ])
else:
    print("Pokemon Can't Determine.")
    
pok = input("Enter the pokemon's name: ").title()
pokemons[pokemons['Name'] == pok]

Please enter how you want to find your Pokemon (Name, Generation, Type): name
Enter the Pokemon's name : charmander

         Name  Generation Types
3  Charmander           1  fire

Enter the pokemon's name: charmander

,Pokedex Number,Name,Generation,Types,Classfication,Abilities,Height_m,Weight_kg,Hp,Speed,sp_Attack,sp_Defense
3,4,Charmander,1,fire,Lizard Pokémon,"['Blaze', 'Solar Power']",0.6,8.5,39,65,52,43

In [4]:
names = pd.Series(mydata['name'])
generation = pd.Series(mydata['generation'])
types = pd.Series(mydata['type1'])
series_dict = { 'Name':  names, 'Generation': generation, 'Types' : types }  # dict of Series, keys are the series names
intro = pd.DataFrame( series_dict )
intro.sample(2)

         Name  Generation  Types
678   Honedge           6  steel
143  Articuno           1    ice

In [18]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
help(str.translate)

Help on method_descriptor:

translate(...)
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.