In [ ]:
 Inputs: 
    Name, Generation, Type
Outputs:
    Name, Generation, Type, Strength, Region, abilities
Algorith: 
    Import pandas
    Get data
    Input Name, Generation, Type
    Sort the database
    Filter out data using the input of the user
    Print out the pokemons attributes

In [10]:
import pandas as pd

In [ ]:
abilities, pokedex_number, sp_attack, sp_defense,

In [11]:
mydata = pd.read_csv('pokemon.csv')
mydata.sample(10)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
259,"['Torrent', 'Damp']",1.0,1.0,1.0,0.0,1.0,1.0,0.50,1.0,1.0,...,88.1,260,95,110,70,water,ground,81.9,3,0
407,"['Mold Breaker', 'Sheer Force']",1.0,1.0,1.0,1.0,1.0,2.0,0.50,0.5,1.0,...,88.1,408,30,30,58,rock,NaN,31.5,4,0
722,"['Overgrow', 'Long Reach']",1.0,1.0,1.0,1.0,1.0,0.5,2.00,2.0,1.0,...,88.1,723,70,70,52,grass,flying,16.0,7,0
733,"['Stakeout', 'Strong Jaw', 'Adaptability']",1.0,1.0,1.0,1.0,1.0,2.0,1.00,1.0,0.0,...,50.0,734,30,30,45,normal,NaN,6.0,7,0
43,"['Chlorophyll', 'Stench']",1.0,1.0,1.0,0.5,0.5,0.5,2.00,2.0,1.0,...,50.0,44,85,75,40,grass,poison,8.6,1,0
246,['Shed Skin'],1.0,1.0,1.0,0.0,1.0,2.0,0.50,0.5,1.0,...,50.0,247,65,70,51,rock,ground,152.0,2,0
533,"['Guts', 'Sheer Force', 'Iron Fist']",0.5,0.5,1.0,1.0,2.0,1.0,1.00,2.0,1.0,...,75.4,534,55,65,45,fighting,NaN,87.0,5,0
34,"['Cute Charm', 'Magic Guard', 'Friend Guard']",0.5,0.5,0.0,1.0,1.0,0.5,1.00,1.0,1.0,...,24.6,35,60,65,35,fairy,NaN,7.5,1,0
669,"['Flower Veil', 'Symbiosis']",0.5,0.5,0.0,1.0,1.0,0.5,1.00,1.0,1.0,...,0.0,670,125,128,92,fairy,NaN,0.9,6,0
140,"['Swift Swim', 'Battle Armor', 'Weak Armor']",1.0,1.0,1.0,2.0,1.0,2.0,0.25,0.5,1.0,...,88.1,141,65,70,80,rock,water,40.5,1,0

In [27]:
names = pd.Series(mydata['name'])
generation = pd.Series(mydata['generation'])
types = pd.Series(mydata['type1'])
series_dict = { 'Name':  names, 'Generation': generation, 'Types' : types }
pokemons = pd.DataFrame( series_dict )
pokemons

           Name  Generation     Types
0     Bulbasaur           1     grass
1       Ivysaur           1     grass
2      Venusaur           1     grass
3    Charmander           1      fire
4    Charmeleon           1      fire
5     Charizard           1      fire
6      Squirtle           1     water
7     Wartortle           1     water
8     Blastoise           1     water
9      Caterpie           1       bug
10      Metapod           1       bug
11   Butterfree           1       bug
12       Weedle           1       bug
13       Kakuna           1       bug
14     Beedrill           1       bug
15       Pidgey           1    normal
16    Pidgeotto           1    normal
17      Pidgeot           1    normal
18      Rattata           1    normal
19     Raticate           1    normal
20      Spearow           1    normal
21       Fearow           1    normal
22        Ekans           1    poison
23        Arbok           1    poison
24      Pikachu           1  electric
25       Raichu           1  electric
26    Sandshrew           1    ground
27    Sandslash           1    ground
28     Nidoran♀           1    poison
29     Nidorina           1    poison
..          ...         ...       ...
771  Type: Null           7    normal
772    Silvally           7    normal
773      Minior           7      rock
774      Komala           7    normal
775  Turtonator           7      fire
776  Togedemaru           7  electric
777     Mimikyu           7     ghost
778     Bruxish           7     water
779      Drampa           7    normal
780    Dhelmise           7     ghost
781    Jangmo-o           7    dragon
782    Hakamo-o           7    dragon
783     Kommo-o           7    dragon
784   Tapu Koko           7  electric
785   Tapu Lele           7   psychic
786   Tapu Bulu           7     grass
787   Tapu Fini           7     water
788      Cosmog           7   psychic
789     Cosmoem           7   psychic
790    Solgaleo           7   psychic
791      Lunala           7   psychic
792    Nihilego           7      rock
793    Buzzwole           7       bug
794   Pheromosa           7       bug
795   Xurkitree           7  electric
796  Celesteela           7     steel
797     Kartana           7     grass
798    Guzzlord           7      dark
799    Necrozma           7   psychic
800    Magearna           7     steel

[801 rows x 3 columns]

In [20]:
mydata['name'].sample(10)

480       Mesprit
389      Chimchar
358         Absol
677      Meowstic
173     Igglybuff
90       Cloyster
536    Seismitoad
581     Vanillite
182        Marill
239         Magby
Name: name, dtype: object

In [14]:
mydata['type1'].sample(10)

420      grass
22      poison
748     ground
455      water
249       fire
7        water
163     normal
4         fire
64     psychic
507     normal
Name: type1, dtype: object

In [15]:
mydata['type1'].value_counts()

water       114
normal      105
grass        78
bug          72
psychic      53
fire         52
rock         45
electric     39
poison       32
ground       32
dark         29
fighting     28
ghost        27
dragon       27
steel        24
ice          23
fairy        18
flying        3
Name: type1, dtype: int64

In [16]:
mydata['generation'].value_counts()

5    156
1    151
3    135
4    107
2    100
7     80
6     72
Name: generation, dtype: int64

In [17]:
names = pd.Series( data = ['Bulbasaur','Ivysaur','Venusaur','Charmander','Charmeleon'])
generation = pd.Series( data = [1, 2, 3, 4, 5, 6, 7])
types = pd.Series( data = ['ground', 'water', 'electric', 'fire', 'normal', 'bug', 'rock', 'dragon', 'fighting', 'ice', 'poison', 'ghost', 'steel', 'flying', 'dark', 'fairy'])
series_dict = { 'Name':  names, 'Generation': generation, 'Types' : types }
pokemons = pd.DataFrame( series_dict )
pokemons

          Name  Generation     Types
0    Bulbasaur         1.0    ground
1      Ivysaur         2.0     water
2     Venusaur         3.0  electric
3   Charmander         4.0      fire
4   Charmeleon         5.0    normal
5          NaN         6.0       bug
6          NaN         7.0      rock
7          NaN         NaN    dragon
8          NaN         NaN  fighting
9          NaN         NaN       ice
10         NaN         NaN    poison
11         NaN         NaN     ghost
12         NaN         NaN     steel
13         NaN         NaN    flying
14         NaN         NaN      dark
15         NaN         NaN     fairy

In [37]:
pokemons = mydata['name']
generation = mydata['generation']
#types = mydata['type1']
print(pokemons)

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28       Nidoran♀
29       Nidorina
          ...
771    Type: Null
772      Silvally
773        Minior
774        Komala
775    Turtonator
776    Togedemaru
777       Mimikyu
778       Bruxish
779        Drampa
780      Dhelmise
781      Jangmo-o
782      Hakamo-o
783       Kommo-o
784     Tapu Koko
785     Tapu Lele
786     Tapu Bulu
787     Tapu Fini
788        Cosmog
789       Cosmoem
790      Solgaleo
791        Lunala
792      Nihilego
793      Buzzwole
794     Pheromosa
795     Xurkitree
796    Celesteela
797       Kartana
798      Guzzlord
799      Necrozma
800      Magearna
Name: name, Length: 801, dtype: object

In [25]:
pokemons = mydata['name']
generation = '1'
types = 'Fire'

pok = input("Enter the pokemon's name or none: ")
if pok in pokemons: 
    print(pok) 
elif pok == generation: 
    print(pok)
elif pok == types: 
    print(pok)
else:
    print("Not able to determone the pokemon")

Enter the pokemon's name or none: 18
Not able to determone the pokemon

In [26]:
pv = input("Enter: ").title()
print(pv)

Enter: aabbc
Aabbc

In [18]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
help(str.translate)

Help on method_descriptor:

translate(...)
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.